body {
  margin: 0;
  padding: 0;
}

.header .demo-tabs {
  margin-top: 30px;
  margin-left: 65px;
  transition: 0.00000001s;
}

.header-show .demo-tabs {
  margin-top: 30px;
  transition: 0.3s;
}


@media screen and (min-width: 768px) {
  .header-show .demo-tabs {
    margin-top: 85px;
    margin-left: 15%;
    width: 50%;
  }
  .header .demo-tabs {
    margin-top: 85px;
    width: 50%;
    margin-left: 15%;
  }
}
